@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
}

$bg-color: #F8F9FE;
$color-primary: #6BD0A2;
$color-black: #353535;



body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: $color-black;
  background-color: $bg-color;
}

.container {
  display: flex;
  justify-content: center;
}

.todo {
  width: 690px;
  min-height: 739px;
  margin-top: 20px;
  padding: 0 40px 0 40px;
  background: #FAFBFE;
  box-shadow: 10px 0px 70px 2px rgba(0, 0, 0, 0.2);
  border-radius: 17px;
  &_title {
    margin-top: 40px;
    display: block;
    text-align: center;
    font-size: 64px;
  }
  &_create {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_list {
    margin-top: 20px;
    padding-left: 0px;
  }
  &_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 5px 0;
    padding: 5px 15px;
    font-size: 24px;
    color: $color-black;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    & input[type=checkbox] {
      margin-right: 10px;
      width: 18px;
      height: 18px;
    }
    & label {
      width: 90%;
    }
  }
  &_del::after {
    content: "\00D7";
    cursor: pointer;
    color: red;
    & :hover {
      color: grey;
    }
  }
}


.newTask {
  width: 400px;
  height: 50px;
  padding: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 44px;
  outline: none;
  
}


.btn_task {
  width: 200px;
  height: 50px;
  color: #ffffff;
  padding: 5px;
  font-size: 24px;
  text-align: center;
  background: $color-primary;
  border-radius: 3px;
  outline: none;
  border-color: $color-primary;
}