@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
*,
::after,
::before {
  box-sizing: border-box;
}

$bg-color: #F8F9FE;
$color-primary: #6BD0A2;
$color-black: #353535;
$font-family: 'Montserrat', sans-serif;;


body {
  font-size: 16px;
  font-family: $font-family;
  font-weight: normal;
  color: $color-black;
  background-color: $bg-color;
}

.container {
  display: flex;
  justify-content: center;
}
.wrapper {
  margin-top: 20px;
}
.todo {
  width: 690px;
  min-height: 739px;
  margin-top: 20px;
  padding: 0 40px 0 40px;
  background: #FAFBFE;
  box-shadow: 10px 0px 70px 2px rgba(0, 0, 0, 0.2);
  border-radius: 17px;
  &_title {
    margin-top: 40px;
    display: block;
    text-align: center;
    font-size: 64px;
  }
  &_create {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    margin-top: 20px;
    padding-left: 0px;

  }
  &_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 5px 0;
    padding: 5px 15px;
    font-size: 24px;
    color: #353535;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: .25rem;
    & label {
      width: 90%;
    }
    & input[type=checkbox] {
      margin-right: 10px;
      width: 18px;
      height: 18px;
    }
  }
  &_del {
    &::after {
      content: "";
      background-image: url(img/unchecked.svg);
      width: 30px;
      height: 30px;
      cursor: pointer;
      color: grey;
    }
    &:hover:after{
      color: red;
    }
  }
}


.newTask {
  width: 400px;
  height: 50px;
  padding: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 44px;
  outline: none;
  
}


.btn- {
  width: 200px;
  height: 50px;
  color: #ffffff;
  padding: 5px;
  font-size: 24px;
  text-align: center;
  background: $color-primary;
  border-radius: 3px;
  outline: none;
  border-color: $color-primary;
}


.popup {
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  

}
.popup-content {
  
    background: rgb(255, 255, 255);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    box-shadow: 1px 0px 5px rgb(125, 125, 125);
    min-height: 10px;
    width: 430px;
    padding: 10px 20px;
    margin: 100px auto;
    position: relative;

		&_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
		}

		&_title {
      font-family: $font-family;
      font-size: 24px;
      text-align: center;   
		}
}

.clear-all {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}